#container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 35px;
    margin-top: 50px;
    
}
#container div{
    margin: auto;
    /* border: 5px solid blue; */
    width: 180px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
select{
    width: 100%;
}